@import "tailwindcss";
/* @plugin "daisyui";  */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-slate-900 antialiased;
    font-family: 'Inter', sans-serif;
  }

  img {
    @apply max-w-full h-auto block;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full hover:bg-gray-500;
}